* {
    margin: 0;
    padding: 0;
}

body {
    background-color: snow;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #1d3e86;
}

::-webkit-scrollbar-track {
    background-color: #1C2F57;
    width: 50px;
}

h2,h3{
    font: sans-serif;
    color: black;
}

/* Header, nav */
header{
    background-color: white;
    padding:10px 0;
    padding-top: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0 0 4px silver;
}

header nav{
    background-color: #1C2F57;   
    padding: 10px 0;
    padding-bottom: 30px;
}

header a {
    color: white;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: rgb(255, 0, 0);
    border-bottom: 3px solid rgb(255, 0, 0);
}

header ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    padding-top:5px; 
    gap: 20px;
}

/* header li{
    justify-content: center;
    
} */

/* .table {
    display: flex;
    justify-content: center ;
    align-items: center
}

 */

.judul {
    text-align: center;
    font-size: x-large;
    padding-top: 160px;
}

.judul h5 {
    padding-bottom: 40px;
}

/* Logo */
.logo {
    padding: 0 50px;
    justify-content: space-between;
    display: flex;
    padding-top: 5px;
}

.logo img{
    width: auto;
    height: 80px;
}

.logo h1{
    position: relative;
    top: 2vh;
    right: 9.5vh;
}
.logo h1:hover {
    color: #F7C600;
}
.logo img:hover{
    transform: scale(1.03);
}

.logo h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 30px;
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #000000;
  letter-spacing: 0.1em;
  text-shadow: 0 5px 0px #999999, 0 10px 20px rgba(0, 0, 0, 0.9);
  transition: color 0.3s ease;
}

/* Main Content */
.element {
    border: 1px solid silver;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    width: fit-content;
    position: relative;
    left: 33vh;
}

.content{
        position: relative;
}

/*Carousel*/

/* Section  */
section{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 40px;
}


/* Animasi */
.fade1{
    opacity: 0;
    transform: translateY(30px);
    animation:  fadeInUp 1s ease-out forwards;
    animation-delay: 1s;
}

.fade2{
    opacity: 0;
    transform: translateY(30px);
    animation:  fadeInUp 1s ease-out forwards;
    animation-delay: 2.5s;
}

.fade3{
    opacity: 0;
    transform: translateY(30px);
    animation:  fadeInUp 1s ease-out forwards;
    animation-delay: 4.5s;
}

.fade4{
    opacity: 0;
    transform: translateY(30px);
    animation:  fadeInUp 1s ease-out forwards;
    animation-delay: 5.8s;
}

@keyframes fadeInUp {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 2s ease-in forwards;
    opacity: 0;opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* table */
table ul {
    list-style-type: none;
    color: black;
    border-radius: 20px;
}

table img {
    border-radius: 20px;
}

.table {
    margin: auto; 
    border: 2px solid;
    text-align: center;
    border-radius: 20px;
}

/* Form */
.form {
    padding: 20px;
    width: 600px;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: left;
}


form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 100%;
    padding: 6px;
    margin: 5px 0 10px;
    box-sizing: border-box;
}

form button,
form input[type="submit"] {
    margin-top: 10px;
    padding: 6px 12px;
    cursor: pointer;
}

.form h1,p{
    color: black;
    padding-top: 20px;
    text-align: center;
}

.table-data{
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

.table-data table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: auto;
    max-width: 100%;
}

.table-data th, td{
    border: 1px solid black;
    text-align: center;
    padding: 6px;
    padding-right: 10px;
}

.table-data h1,h2{
    text-align: center;
}



/* Flexbox */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #fefefe;
}

.item {
    background-color: #030403;
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex-grow: 1;
}


/* grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


/* footer */
footer{
    box-shadow: 5vh white;
    text-align: center;
    border-top: 2px solid #1d3e86;
    padding: 8px;
    background-color: #171717;
    color: white;
}

footer p, address{
    color: white;
    padding-bottom: 12px;
    text-align: center;
}

footer a{    
    width: auto;
    height: auto;
    padding-right: 75vmax;
    bottom: 9vh;
    z-index: 0;
    position: relative;
}


